@import '~@Sass/_vars.scss';

.lk-workspace_toolbar {

  border-bottom: 1px solid #aaaaaa;

  .lk-workspace_toolbar-menu {
    height:0;
    // transition: height 300ms;
    display:none;
    
    &--active {
      display:flex;
      border-top: 1px solid #aaaaaa;
      height:auto;
    }
  }


  .lk-workspace_toolbar-search {
    height:0;
    // transition: height 300ms;
    display:none;
    
    &--active {
      display:flex;
      flex-direction: column;

      border-top: 1px solid #aaaaaa;
      height:40vh;
    }

    .lk-workspace_toolbar--search-bar {
      display:flex;
      flex-direction: row;
    }

    .lk-result-query {
      flex:1;

      textarea {
        height:100%;
        border-left:0;
        border-right:0;
      }
    }
  }

.lk-workspace_toolbar-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}


.lk-toolbar-item {
  max-width: 45px;
  cursor: pointer;
  height: 45px;
  flex: 1;
  text-align: center;
  display: inline-block;
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-left: 1px solid #aaaaaa;

  &--fill {
    flex:auto;
    max-width: none;
    
  }

  &:hover {
    background:$color-primary-3;
    color:white;
  }

  &--fill {
    &:hover {
      background: none;
      color: #212529;
    }
  }


  &:first-child {
    border: none;
  }
}






  
} 

 